body {
	overflow-x: hidden;
	font-family: 'Work Sans', sans-serif;
}

.navbar {
	border-radius: 0px !important;
}

.modal {
  overflow-y:auto;
}

.navbar-inverse {
	background: #1E2443;
	border-color: #1E2443;
}

.navbar-toggle {
	float: left;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #4B5069;
}

.form-group {
	margin-bottom: 5px;
}

.form-control {
	/*width:80%;*/
	font-size: 12px;
	height: 28px;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 400;
}

@media (min-width: 768px) .modal-dialog {
	width: 900px !important;
	margin: 30px auto;
}

input.parsley-error {
	border: 1px solid red !important;
}

select.parsley-error {
	border: 1px solid red !important;
}

textarea.parsley-error {
	border: 1px solid red !important;
}

.parsley-required {
	display: none;
}

.parsley-type {
	display: none;
}

.parsley-length {
	display: none;
}

.panel-heading {
	cursor: pointer;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
	display: block;
	//height: 108px;
}

.panel-group .panel+.panel {
	margin-top: 0px;
}

.panel-heading {
	padding: 6px 15px;
}

.form-control {
	padding-right: 30px;
}

.form-control+.glyphicon {
	position: absolute;
	right: 0;
	padding: 31px 27px;
}

* {
	box-sizing: border-box;
}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}

input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}

input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}

input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 91%;
	left: 6%;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}