/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}*/

.navbar-default .navbar-brand {
    color: #6E8297;
}
#outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #BADA55;
}
#outer #container {
  background-color: #f3f3f3;
  color: #663399;
  padding: 15px 25px;
  width: 100%;
  max-width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}


.ow-vertical-center {
  min-height: 50%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex; /* For Safari */
  -webkit-justify-content: center; /* For Safari */
  -webkit-align-items: center; /* For Safari */
}

.audi-vertical-center{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.audi-admin-bg{
  
    background-color: #666;
    background-image: url('../images/slider/QModel_Feb16.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100%;

}

.audi-box-shadow {
/*  -webkit-box-shadow: 2px 2px 5px 6px rgba(220, 220, 220, 0.4);   Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ 
  -moz-box-shadow:    2px 2px 5px 6px rgba(220, 220, 220, 0.4);   Firefox 3.5 - 3.6 
  box-shadow:         2px 2px 5px 6px rgba(220, 220, 220, 0.4);   Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  /*  -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;*/


}

.audi-dotted-style{
	background-color: #fff;
	border-top: 1px dotted #666; //#8c8b8b;
}

.border-none{
    border: none !important;
}

#page-wrapper {
    min-height: 100%;
    height: 100%
}
.page-header.page-header-bg-img {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #e5eaee 0px, #fff 100%) repeat scroll 0 0;
    border-bottom: medium none;
    filter: none;
    height: 140px;
    padding-top: 10px;
}

.profile-bg{
    background-color: #fff;
}

.text-red {
  color: #e21f26 !important;
}
.audi-top-menu{    
    color: #CCC;
    //background-color:#EDEDED !important;
}
.audi-top-menu ul li a:hover {
    background-color: #e21f26;
    color: white;
}

/*input[type='text'],input[type='password']{
    background-color: #EEE !important;
    color: #000 !important;
} */
html {
  font-size: 16px;
   position: relative;
    min-height: 100%;
}
body {    
    margin: 90px 0 50px 0;
    font-family: Arial;
	background-colo: #CCCCCC !important;
}

.footer {     
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color:  #CCC;   //#434C53;   //#CCC;
}

#footer-info{
    line-height: 50px !important;
    padding-left: 50px !important;
}
#fade {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: .6;
    opacity: .70;
    filter: alpha(opacity=80)
}
#modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 84px;
    height: 84px;
    padding: 15px 15px 0;
    border: 3px solid #ababab;
    box-shadow: 1px 1px 10px #ababab;
    border-radius: 20px;
    background-color: #fff;
    z-index: 1002;
    text-align: center;
    overflow: auto
}
.not-active {
    pointer-events: none;
    cursor: default;
}



/* Custom Button Styles */

.btn.btn-success.btn-unlock-green {
    color: #fff;
    background-color: #5CB85C;
    background-image: linear-gradient(to bottom, #0fa30f, #0f750f);
    border-color: #3E8F3E #3E8F3E #3E8F3E
}
.btn.btn-success.btn-unlock-green:hover {
    color: #fff;
    background-color: #0f750f;
    background-image: linear-gradient(to bottom, #0f750f, #0f750f);
    border-color: #3E8F3E #3E8F3E #3E8F3E
}
.btn.btn-danger.btn-lock-red {
    color: #fff;
    background-color: #D9534F;
    background-image: linear-gradient(to bottom, #f0504d, #a81b19);
    border-color: #B92C28 #B92C28 #B92C28
}
.btn.btn-danger.btn-lock-red:hover {
    color: #fff;
    background-color: #a81b19;
    background-image: linear-gradient(to bottom, #a81b19, #a81b19);
    border-color: #B92C28 #B92C28 #B92C28
}
.btn.btn-default.btn-reminder-gray {
    color: #333;
    background-color: #FFF;
    background-image: linear-gradient(to bottom, #faf7fa, #bab8ba);
    border-color: #CCC #CCCCCC #CCC
}
.btn.btn-default.btn-reminder-gray:hover {
    color: #333;
    background-color: #bab8ba;
    background-image: linear-gradient(to bottom, #bab8ba, #bab8ba);
    border-color: #CCC #CCCCCC #CCC
}
.margin-top-10 {
    margin-top: 10px
}
.margin-top-20 {
    margin-top: 20px
}
.margin-top-30 {
    margin-top: 30px
}
.margin-top-40 {
    margin-top: 40px
}
.margin-bottom-10 {
    margin-bottom: 10px
}
.margin-bottom-20 {
    margin-bottom: 20px
}
.margin-bottom-30 {
    margin-bottom: 30px
}
.margin-bottom-40 {
    margin-bottom: 40px
}

/*  - ------------------ Audi New Styles-------------------    */ 


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial';  // 'lato';
  font-weight: lighter;
  line-height: 1.1em;
  text-transform: capitalize;
  //color: #333;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: lighter;
}
h1 .fa,
h2 .fa,
h3 .fa,
h4 .fa,
h5 .fa,
h6 .fa {
  padding-right: 10px;
}
p {
  font-size: 1.3em;
  line-height: 1.4000000000000001em;
}
p .fa {
  padding-right: 5px;
}
.text-heading {
  font-size: 3.3em;
}
.text-sub-heading {
  font-size: 2.3em;
}
.text-large {
  font-size: 2.6em;
}
.text-large-copy {
  font-size: 1.6em;
}
.text-medium {
  font-size: 1.4000000000000001em;
}
.text-small {
  font-size: 0.9em;
}
.text-normal {
  font-size: 1.3em;
  font-weight: normal;
}
.text-lighter {
  color: #999999;
}
.text-light {
  color: #666666;
}
.text-dark {
  color: #333333;
}
.text-red {
  color: #e21f26 !important;
}
.text-blue {
  color: #007cc1 !important;
}
.text-orange {
  color: #ff7e00 !important;
}
.text-strong {
  font-weight: normal;
  color: #333333;
}
.text-italic {
  font-style: italic;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-case-reset {
  text-transform: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.info-mark a {
  font-size: 11px;
  margin: 0 5px;
}
.invert-margin {
  margin: 15px 0 5px 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.relative {
  position: relative;
}
.inline {
  display: inline;
}
*::-webkit-input-placeholder {
  font-weight: lighter;
}

/*body {
  font-family: 'lato';
  font-size: 62.5%;
  font-weight: lighter;
  color: #999999;
  background: #fff;
}*/


/*------------------------------------------------------------*/
/*.navbar-brand>a>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
   probably not needed anymore, but doesn't hurt 
   -o-object-fit: contain;
   object-fit: contain; 
   line-height:40px !important;
   padding:5px;   
}*/

.navbar-brand{
   height: 60px !important;

}
.nav >li >a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-toggle {
  padding: 10px;
  margin: 10px 15px 10px 0;
}

.navbar .navbar-nav > li > a {
    line-height: 40px !important;
}
 
.navbar-logo{
    height: 40px;
}


.navbar-list [class^="list-"], .navbar-list [class*=" list-"] {
    height: inherit;
}
.navbar-list [class^="list-"], .navbar-list [class*=" list-"] {
    height: inherit;
}
.navbar-list [class^="list-"], .navbar-list [class*=" list-"] {
    height: inherit;
}
.navbar-list [class^="list-"], .navbar-list [class*=" list-"] {
    height: inherit;
}
.list-inline {
    list-style: outside none none;
    padding-left: 0;
}
.list-unstyled {
    list-style: outside none none;
    padding-left: 0;
}

li {
    text-align: match-parent;
}



/*  Dealer & Model */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
    div.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all {
        width: 75%!important;
        margin: 0 auto;
        overflow: auto
    }
    .ui-jqgrid .ui-jqgrid-htable th div {
        position: inherit;
        height: initial
    }
    .ui-jqgrid .ui-jqgrid-view input,
    .ui-jqgrid .ui-jqgrid-view select,
    .ui-jqgrid .ui-jqgrid-view textarea,
    .ui-jqgrid .ui-jqgrid-view button {
        width: 100%;
        height: 100%;
        padding: 0
    }
    .ui-jqdialog-content table.EditTable input {
        width: 50%
    }
    .ui-jqdialog-content table.EditTable select {
        width: 55%
    }
    .ui-jqdialog-content table.EditTable textarea {
        width: 50%
    }
    .ui-jqdialog-content table.EditTable button {
        width: 50%;
        color: #f00
    }
}

/*
@media only screen and (min-width: 1025px) {
    div.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all {
        width: 75%!important;
        margin: 0 auto;
        overflow: auto
    }
    .ui-jqgrid .ui-jqgrid-htable th div {
        position: inherit;
        height: initial
    }
    .ui-jqgrid .ui-jqgrid-view input,
    .ui-jqgrid .ui-jqgrid-view select,
    .ui-jqgrid .ui-jqgrid-view textarea,
    .ui-jqgrid .ui-jqgrid-view button {
        width: 100%;
        height: 100%;
        padding: 0
    }
    .ui-jqdialog-content table.EditTable input {
        width: 90%
    }
    .ui-jqdialog-content table.EditTable select {
        width: 95%
    }
    .ui-jqdialog-content table.EditTable textarea {
        width: 90%
    }
    .ui-jqdialog-content table.EditTable button {
        width: 50%;
        color: #f00
    }
}
.audi-head-text {
    color: #a81b19 !important;
}

*/

/*----------------  */

/*
.navbar.navbar-default.navbar-static-top{
    height: 40px !important;
    line-height: 40px  !important;
    padding:5px;
    
}*/


